* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
}

body {
    color: #fff;
    background: #ebf2f5;
}

body,
input,
button,
textarea {
    font: 600 18px Nunito, sans-serif;
}
